/* 
    Created on : 15 Feb 2020, 15:02:03
    Author     : Max Cripps <43726912+mc1098@users.noreply.github.com>
*/

*{
    box-sizing:border-box;
    font-family: "hind", sans-serif;
    margin: 0px;
    padding: 0px;
}

a , a:visited > i{
	color: white;
}

.barcode-form{
    color:#f1f1f1;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight:500;
    justify-content: center;
    text-transform:uppercase;
}

.barcode-input{
    background:#2b2b2b;
    border:none;
    color:#f4f4f4;
    font-size:16px;
    height: 50px;
    outline:none;
    padding: 0 15px;
    text-transform: uppercase;
}

.barcode-input:focus{
    background: #484848 !important;
}

.barcode-widget{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn{
    background: #037bee;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 50px;
    line-height: 30px;
    outline: none;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s linear;
}

.btn:disabled{
    color: #666;
    background: #444;
}

.btn:disabled:hover{
    background: #444;
    color: #666;
    cursor:context-menu;
    opacity:1;
}

.btn:hover{
    background: #138bff;
}

body{
    align-items:center;
    background:#121212;
    overflow-x:hidden;
    color: #fff;
}

.confirmation-container{
    display:flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    margin: auto;
    max-width: 400px;
    text-align: center;
    width: 80%;
}

.confirmation-condition-notice{
    font-size: 12px;
}
.email {
    background: #202020;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 60vw;
}

.email footer {
    background: #14141a;
    text-align: center;
}

.email footer .auto-mail-warning {
    font-size: 10px;
    font-style:italic;
    margin: 20px;
}

.email .greeting {
    margin: 20px;
}

.email .header {
    align-items: baseline;
    border-bottom: 5px solid #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.email p{
    margin: 10px auto;
}

.email .qr-code {
    margin:auto;
    text-align:center;
    width: 80%;
}

.error{
    color:red;
    display: block;
    padding: 20px;
    text-transform:none;
}

h1{
    color: #fff;
    padding: 20px;
}

.top-row{
    background: #202020;
    width: 100vw;
    height: 10vh;
}

.top-row .logo{
    cursor: context-menu;
    float: left;
    margin-left: 20px;
    line-height: 10vh;
    padding: 0;
}

.top-row .logo a{
    text-decoration: none;
}

.top-row .menu{
    width: 100px;
    align-items: center;
    float: right;
    line-height: 10vh;
    margin-right: 20px;
}

.top-row .menu:hover .user-menu a{
    display: block;
}

.top-row .menu .menu-item{
    margin: 0px 5px 0 5px;
}

.hidden{
    display: none;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.trade-btn {
    width: 270px;
    margin: auto;
}

.trade-container{
    align-items: center;
    background: #202020;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 30px 60px;
    width:600px;
}

.trade-container p, .trade-total{
    margin: 20px;
    text-align: center;
}

.trade-table{
    background:#202020;
    color: #ddd;
    padding: 10px;
    text-align: center;
    text-transform: none;
    width: 100%;
}

.trade-table tbody{
    height: 200px;
    overflow-y:auto;
}

.trade-table td{
    border-bottom: 0.5px solid #404040;
    padding: 10px;
    width: 20%;
}

.trade-table th {
    height: 50px;
    padding: 10px;
    width: 20%;
}

.user-menu{
    position: absolute;
    text-align: center;
    width: 100px;
}

.user-menu a{
    background: #202020;
    color: #fff;
    display: none;
    padding: 8px 2px;
    text-decoration: none;
    transition: 0.3s all;
}

.user-menu a:hover{
    color: #4bf;
    opacity: 0.8;
}


.user-sec i{
    background: grey;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    margin: 0px 10px 0px px;
    padding: 10px;
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-thumb{
    background: #333;
}

.user-sec{
	color: #fff;
}

.log-out-btn{
	
}