/* 
    Created on : 15 Feb 2020, 15:02:03
    Author     : Max Cripps <43726912+mc1098@users.noreply.github.com>
*/

*{
    box-sizing:border-box;
    font-family: "hind", sans-serif;
    margin: 0px;
    padding: 0px;
}

a , a:visited > i{
	color: white;
}

.barcode-form{
    color:#f1f1f1;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight:500;
    justify-content: center;
    text-transform:uppercase;
}

.barcode-input{
    background:#2b2b2b;
    border:none;
    color:#f4f4f4;
    font-size:16px;
    height: 50px;
    outline:none;
    padding: 0 15px;
    text-transform: uppercase;
}

.barcode-input:focus{
    background: #484848 !important;
}

.barcode-widget{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body, html {
    height: 100%;
    /*Resolves horizontal scrollbar caused by ::webkit styling*/
    overflow-x: hidden;
}

.btn{
    background: #037bee;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 50px;
    line-height: 30px;
    outline: none;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s linear;
}

.btn:disabled{
    color: #666;
    background: #444;
}

.btn:disabled:hover{
    background: #444;
    color: #666;
    cursor:context-menu;
    opacity:1;
}

.btn:hover{
    background: #138bff;
}

.confirmation-condition-notice{
    font-size: 12px;
}

.confirmation-container{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.confirmation-container > * {
    margin: 20px 0px;
}

.copyright-container{
    align-items:center;
    background: #202020;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    height: 10vh;
}

.copyright-container *{
    margin: 20px;
}

.email-body {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.email-body > * {
    margin: 20px 0px;
}

.email-container {
    background: #202020;
}

.email-footer {
    background: #14141a;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.email-footer > .auto-mail-warning {
    font-size: 10px;
    font-style:italic;
    margin: 20px;
}

.email-container .greeting {
    margin: 20px;
}

.email-container > header {
    align-items: baseline;
    border-bottom: 5px solid #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.email-container p{
    margin: 10px auto;
}

.email-container .qr-code {
    margin:auto;
    text-align:center;
    width: 80%;
}

.error{
    color:red;
    display: block;
    margin: 0px;
    padding: 10px;
    text-transform:none;
}

.folding-container .content {
    height: 0;
    overflow-x: hidden;
}

.folding-container .fld-chk {
    opacity: 0;
}

.folding-container 
.fld-chk:checked ~
.content {
    height: auto;
    overflow-x:auto;
}


.folding-container 
.fld-chk:checked ~ 
label i{
    transform: rotate(90deg)
}

.folding-container 
.fld-header{
    cursor:pointer;
    user-select: none;
}

.folding-container 
.fld-header:hover{
    color:#4bf;
}
.folding-container
.fld-header i{
    float: left;
    margin: 10px;
}
.folding-container h2,
.folding-container h3{
    margin: 20px 0px;
}

h1{
    color: #fff;
    padding: 20px;
    text-align: center;
}

.hidden{
    display: none;
}

main{
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

p{
    /*
        Text blocks shouldn't exceed 80 character length
        ch unit approx's the limit for us.
    */
    max-width: 80ch; 
}

.page-container{
    align-items: center;
    background: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-footer {
    width: 100%;
}

.page-inner-track {
    margin: auto;
    min-height: 100%;
    max-width: 90ch;
    padding: 20px 0px;
}

.privacy-container{
    padding: 20px;
}

.privacy-container h1{
    border-bottom: 1px solid #4bf;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 20px auto;
    text-transform: uppercase;
    width: fit-content;
}

.privacy-container ul{
    list-style-type:square;
    margin-left: 40px;
}

.privacy-container p{
    margin: 20px 0px;
}

.privacy-container 
table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.privacy-container 
table td {
    padding: 15px;
}

.privacy-container table, 
.privacy-container table td{
    border: 1px solid #fff;
}

.top-row{
    background: #202020;
    width: 100vw;
    height: 10vh;
}

.top-row .logo{
    cursor: context-menu;
    float: left;
    margin-left: 20px;
    line-height: 10vh;
    padding: 0;
}

.top-row .logo a{
    text-decoration: none;
}

.top-row .menu{
    width: 100px;
    align-items: center;
    float: right;
    line-height: 10vh;
    margin-right: 20px;
}

.top-row .menu:hover .user-menu a{
    display: block;
}

.top-row .menu .menu-item{
    margin: 0px 5px 0 5px;
}


.trade-btn {
    width: fit-content;
    margin: auto;
}

.trade-container > form > *{
    margin: 10px auto;
}

.trade-container > p{
    text-align: center;
}

.trade-list > .trade-container {
    margin: 40px auto;
}

.trade-table{
    background: #202020;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-transform: none;
    
}

.trade-table tbody{
    height: 200px;
    overflow-y:auto;
}

.trade-table td{
    border-bottom: 0.5px solid #404040;
    padding: 10px;
}

.trade-table th {
    height: 50px;
    padding: 10px;
}

.user-menu{
    position: absolute;
    text-align: center;
    width: 100px;
}

.user-menu a{
    background: #202020;
    color: #fff;
    display: none;
    padding: 8px 2px;
    text-decoration: none;
    transition: 0.3s all;
}

.user-menu a:hover{
    color: #4bf;
    opacity: 0.8;
}


.user-sec i{
    background: grey;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    margin: 0px 10px 0px px;
    padding: 10px;
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-thumb{
    background: #333;
}

.user-login-container {
    background: #202020;
    padding: 40px;
}

.user-login{
    display: flex;
    flex-direction: column;
}

.user-login > div {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    
}

.user-login > div input {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.user-login .input-label{
    padding-bottom: 10px;
}

.user-login > .login-btn{
    margin: 10px 0px;
}

.user-sec{
	color: #fff;
}

@media screen and (max-width: 750px){
    .trade-table{
        padding: 5px;
    }

    .trade-table td, .trade-table th {
        padding: 5px;
    }
}


@media screen and (max-width: 600px){


    .email .qr-code{
        width: 100%;
    }
    
    .privacy-container table td {
        padding: 5px;
    }

    .privacy-container ul {
        margin-left: 20px;
    }
    
    .page-inner-track{
        width: 100%;
    }

    .email,
    .privacy-container,
    .trade-container{
        padding: 5px 10px;
        width: 100%;
    }
    
    table .verbose{
        display: none;
    }
    
}
